# Environment
APP_NAME=
APP_ENV=
APP_DEBUG=
APP_VERSION=
APP_TIMEZONE=

# Database
DB_CONNECTION=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

# Application URL
HOME_URL=
BASE_URL=

# Server Path
BASE_ROOT=
BASE_UPLOAD=
BASE_TEMP=

# Secret 
GLOBAL_KEY=

# Company Detail
COMPANY_NAME=
COMPANY_TEL=
OWNER_NAME=
OWNER_TEL=

