body { 
    font-family: Arial, sans-serif;
    width: 100%;
}

.title_header {
    width: 100%;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

/* Header */

.wrapper_header {
    width: 100%;
    margin: auto;
}

.table_header {
    width: 100%;
    border-collapse: collapse;
}

.left_column_header {
    width: 35%;
    vertical-align: top;
    padding: 35px 0px 0px 0px;
    text-align: left;
}

.right_column_header {
    width: 70%;
    vertical-align: top;
    padding: -15px 0px 0px 0px;
    text-align: right;
}

.left_column {
    width: 35%;
    vertical-align: top;
    padding: 15px 0px 0px 0px;
    text-align: left;
}

.left_column_bill {
    width: 35%;
    vertical-align: top;
    padding: 30px 0px 0px 0px;
    text-align: left;
}

.right_column {
    width: 70%;
    vertical-align: top;
    padding: 30px 0px 0px 0px;
    text-align: right;
}

/* Mid Body */

.wrapper_divider {
    width: 100%;
    margin: 30px 0px 0px 0px;
}

.wrapper_products {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.wrapper_products table thead th {
    border: 1px solid black;
}

.wrapper_products table tbody td {
    border: 1px solid black;
}

.wrapper_products table tfoot td {
    border: 1px solid black;
}

.table_products {
    width: 100%;
    border-collapse: collapse;
}

.index_column_products {
    width: 5%;
    vertical-align: middle;
    padding: 10px 15px 10px 15px;
    text-align: left;
}

.left_column_products {
    width: 55%;
    vertical-align: middle;
    padding: 10px 15px 10px 15px;
    text-align: left;
}

.mid_column_products {
    width: 20%;
    vertical-align: middle;
    padding: 10px 15px 10px 15px;
    text-align: left;
}

.right_column_products {
    width: 20%;
    vertical-align: middle;
    padding: 10px 15px 10px 15px;
    text-align: center;
}

/* Footer */

.wrapper_footer {
    width: 100%;
    margin: 150px 0px 0px 0px;
    text-align: center;
}