@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
}

body {
    font-family: 'Oswald', sans-serif !important;
}

table.dataTable td {
    font-size: 0.9rem;
}

table.dataTable th {
    font-size: 1rem;
}

.table-hover tbody tr:hover td {
    background-color: #F5F4FF !important;
}

